<a class="btn btn-default btn-xs" title="View" href="{{act.appurl}}/{{act.name}}/{{act.session_info.obj_tipousuario.id}}/view/{{act.id}}">
    <span class="glyphicon glyphicon-eye-open"></span>
</a>
<a class="btn btn-default btn-xs" title="Edit" href="{{act.appurl}}/{{act.name}}/{{act.session_info.obj_tipousuario.id}}/edit/{{act.id}}">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
<a class="btn btn-default btn-xs" title="Remove" href="{{act.appurl}}/{{act.name}}/{{act.session_info.obj_tipousuario.id}}/remove/{{act.id}}">
    <span class="glyphicon glyphicon-remove"></span>
</a>
