<nav class="navbar navbar-default navbar-fixed-top" ng-include="'js/system/menu.html'"></nav>
<div id="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-family:Oswald , serif;"  ng-include="'js/system/header.html'"></div>
                    <div class="panel-body" ng-cloak>
                        <div class="row-fluid">
                            <div class="col-lg-12">

                                <div class="alert alert-success" role="alert" ng-if="debugging">
                                    <h4>Debug:</h4>
                                    {{bean|json}}

                                </div>

                                <form name="outerForm" class="form-horizontal text-left" ng-if="!status">







                                    <div class="panel panel-default" ng-enabled="fase==1">
                                        <div class="panel-heading"><span style="font-size: 25px !important">&#10102</span>Elige un nombre de usuario</div>
                                        <div class="panel-body">
                                            <div id="login-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.login.$error.pattern && !outerForm.login.$pristine) ||
                                                                     (outerForm.login.$error.required && !outerForm.login.$pristine) ||
                                                                     (outerForm.login.$error.required && !outerForm.login.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labellogin'"
                                                        longname="'Nombre de usuario'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-7">
                                                    <texto model="bean.login"
                                                           name="'login'"
                                                           longname="'Nombre de usuario en el sistema (login nickname)'"
                                                           pattern="'([A-Z][a-z0-9]+)+'"
                                                           length="255"
                                                           required="true">
                                                    </texto>                                                    
                                                    <span class="help-block" ng-if="!outerForm.login.$pristine && outerForm.login.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.login.$pristine && outerForm.login.$error.pattern">El campo no tiene formato adecuado</span>                                                    
                                                </div>
                                                <a class="btn btn-primary" ng-click="validausuario()">Valida el nombre de usuario</a>
                                            </div>
                                        </div>
                                    </div>











                                    <div class="panel panel-default" ng-enabled="fase==2">
                                        <div class="panel-heading"><span style="font-size: 25px !important">&#10103</span> Elige una contraseña</div>
                                        <div class="panel-body">
                                            <div id="password-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.password.$error.pattern && !outerForm.password.$pristine) ||
                                                                     (outerForm.password.$error.required && !outerForm.password.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelpassword'"
                                                        longname="'Contraseña'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <input ng-model="bean.password"
                                                           type="password"
                                                           class="form-control"
                                                           id="password"
                                                           name="password"
                                                           ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/"
                                                           placeholder="Introduzca el password"
                                                           maxlength="20"
                                                           ng-required="1"
                                                           />
                                                    <span class="help-block" ng-if="!outerForm.password.$pristine && outerForm.password.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.password.$pristine && outerForm.password.$error.pattern">El password de ha de tener de 6 a 20 caracteres con al menos una mayúscula, una minúscula y un dígito</span>
                                                </div>
                                            </div>
                                            <div id="password2-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.password2.$error.pattern && !outerForm.password2.$pristine) ||
                                                                     (outerForm.password2.$error.required && !outerForm.password2.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelpassword2'"
                                                        longname="'Repita la Contraseña'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <input ng-model="password2"
                                                           type="password2"
                                                           class="form-control"
                                                           id="password2"
                                                           name="password2"
                                                           ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})$/"
                                                           placeholder="Repita el password"
                                                           maxlength="20"
                                                           ng-required="1"
                                                           />
                                                    <span class="help-block" ng-if="!outerForm.password2.$pristine && outerForm.password2.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.password2.$pristine && outerForm.password2.$error.pattern">El password de ha de tener de 6 a 20 caracteres con al menos una mayúscula, una minúscula y un dígito</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel panel-default" ng-enabled="fase==3">
                                        <div class="panel-heading"><span style="font-size: 25px !important">&#10104</span> Introduce los datos personales</div>
                                        <div class="panel-body">
                                            <div id="nombre-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.nombre.$error.pattern && !outerForm.nombre.$pristine) ||
                                                                     (outerForm.nombre.$error.required && !outerForm.nombre.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelnombre'"
                                                        longname="'Nombre'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <texto model="bean.nombre"
                                                           name="'nombre'"
                                                           longname="'Nombre'"
                                                           pattern="'([A-Z][a-z0-9]+)+'"
                                                           length="255"
                                                           required="true">
                                                    </texto>
                                                    <span class="help-block" ng-if="!outerForm.nombre.$pristine && outerForm.nombre.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.nombre.$pristine && outerForm.nombre.$error.pattern">El campo no tiene formato adecuado</span>
                                                </div>
                                            </div>

                                            <div id="primer_apellido-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.primer_apellido.$error.pattern && !outerForm.primer_apellido.$pristine) ||
                                                                     (outerForm.primer_apellido.$error.required && !outerForm.primer_apellido.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelprimer_apellido'"
                                                        longname="'Primer apellido'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <texto model="bean.primer_apellido"
                                                           name="'primer_apellido'"
                                                           longname="'Primer apellido'"
                                                           pattern="'([A-Z][a-z0-9]+)+'"
                                                           length="255"
                                                           required="true">
                                                    </texto>
                                                    <span class="help-block" ng-if="!outerForm.primer_apellido.$pristine && outerForm.primer_apellido.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.primer_apellido.$pristine && outerForm.primer_apellido.$error.pattern">El campo no tiene formato adecuado</span>
                                                </div>
                                            </div>

                                            <div id="segundo_apellido-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.segundo_apellido.$error.pattern && !outerForm.segundo_apellido.$pristine) ||
                                                                     (outerForm.segundo_apellido.$error.required && !outerForm.segundo_apellido.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelsegundo_apellido'"
                                                        longname="'Segundo apellido'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <texto model="bean.segundo_apellido"
                                                           name="'segundo_apellido'"
                                                           longname="'Segundo apellido'"
                                                           pattern="'([A-Z][a-z0-9]+)+'"
                                                           length="255"
                                                           required="true">
                                                    </texto>
                                                    <span class="help-block" ng-if="!outerForm.segundo_apellido.$pristine && outerForm.segundo_apellido.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.segundo_apellido.$pristine && outerForm.segundo_apellido.$error.pattern">El campo no tiene formato adecuado</span>
                                                </div>
                                            </div>



                                            <div id="email-group"
                                                 class="form-group"
                                                 ng-class="{'has-error': (outerForm.email.$error.pattern && !outerForm.email.$pristine) ||
                                                                     (outerForm.email.$error.required && !outerForm.email.$pristine)}">
                                                <clabel wide="2"
                                                        name="'labelemail'"
                                                        longname="'Email'"
                                                        required="true">
                                                </clabel>
                                                <div class="control col-sm-8">
                                                    <texto model="bean.email"
                                                           name="'email'"
                                                           longname="'Correo electrónico'"
                                                           pattern="'([A-Z][a-z0-9]+)+'"
                                                           length="255"
                                                           required="true">
                                                    </texto>
                                                    <span class="help-block" ng-if="!outerForm.email.$pristine && outerForm.email.$error.required">El campo es obligatorio</span>
                                                    <span class="help-block" ng-if="!outerForm.email.$pristine && outerForm.email.$error.pattern">El campo no tiene formato adecuado</span>
                                                </div>
                                            </div>




                                        </div>
                                    </div>






                                    <div class="control-group text-right">
                                        <div class="controls">
                                            <a class="btn btn-primary" ng-click="save()" ng-disabled="!outerForm.$valid">Guardar</a>
                                            <a class="btn btn-info" ng-href="{{ob}}/plist">Ir al listado de {{ob}}</a>
                                            <a class="btn btn-default" ng-click="back()">Volver</a>
                                            <a class="btn btn-default" ng-click="close()">Cerrar</a>
                                        </div>
                                    </div>
                                </form>

                                <div ng-if="status">
                                    <div class="alert alert-success" ng-if="response.status == 200">
                                        <h2>{{status}}</h2>
                                        <div class="control-group text-right">
                                            <div class="controls">
                                                <a class="btn btn-success" ng-href="{{ob}}/view/{{bean.id}}">Ver {{obtitle}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" ng-if="response.status != 200">
                                        <div class="control-group text-right">
                                            <div class="controls">
                                                <h2>{{status}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group text-right">
                                        <div class="controls">
                                            <a class="btn btn-info" ng-href="{{ob}}/plist">Ir al listado de {{obtitle}}</a>
                                            <a class="btn btn-default" ng-click="back()">Volver</a>
                                            <a class="btn btn-default" ng-href="home">Cerrar</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="font-family: Questrial, serif;" ng-include="'js/system/footer.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
