
<div class="row">
    <div class="col-lg-6">
        <h3>¿Qué es GESANE?</h3>
        <ul>
            <li>GESANE es un proyecto educativo multidisciplinar para alumnos de Formación Profesional</li>
            <li>GESANE es un simulador de gestión sanitaria para alumnos de Ciclos Formativos de Grado Superior de la familia Sanitaria.</li>
            <li>La estructura de GESANE además es caso de estudio para los alumnos del Ciclo Formativo de Grado Superior en Desarrollo de Aplicciones Web.</li>
        </ul>
        <h3>¿Quién impulsa este proyecto?</h3>
        <ul>            
            <li>El autor de la aplicación es Rafael Aznar (rafaaznar {at} gmail {dot} com). Profesor-tutor de segundo del Ciclo Formativo de Grado Superior denominado Desarrollo de Aplicaciones Web.</li>
            <li>El asesoramiento en materia sanitaria corre a cargo de Isabel Gimeno, profesora con gran experiencia en Ciclos Formativos en la Failia Sanitaria.</li>            
            <li>Además en la Rama sanitaria contamos con la profesora Maria José García (mgarcia {at} ausiasmarch {dot} net)</li>
        </ul>

    </div>
    <div class="col-lg-6">
        <h3>¿Qué pretendemos con este proyecto?</h3>
        <h4>Para alumnos de la rama sanitaria...</h4>
        <ul>
            <li>Modelizar procesos de atención sanitaria con un doble objetivo: construir la aplicación GESANE y Preparar materiales didácticos para su uso por parte del alumnado.</li>            
            <li>Los programas de gestión sanitaria son inaccesibles a nivel académico. Con GESANE queremos simular la realidad de los centros de atención sanitaria para preparar mejor a los alumnos para que tengan una mejor integración profesional.</li>            
        </ul>
        <h4>Para alumnos de Desarrollo de aplicaciones web...</h4>
        <ul>
            <li>Aprender a estructurar el diseño de un proyecto web</li>
            <li>Simular la creación de un proyecto complejo en un entorno de trabajo</li>
            <li>Participar de manera práctica en la creación de una aplicación web compleja</li>
        </ul>        

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Soy profesor de la rama sanitaria ¿Cómo puedo participar en el proyecto?</h3>
        <p>Ponte en contacto con Isabel Gimeno mediante email. Ella coordina la parte sanitaria del proyecto. Después de comprobar que eres profesor/a te crearemos una cuenta de docente para que puedas comenzar a utilizar la aplicación con tus alumnos.</p>
        <h3>Soy profesor de la familia informática ¿Cómo puedo participar en el proyecto?</h3>
        <p>Ponte en contacto con Rafael Aznar mediante email (rafaaznar {at} gmail {dot} com)</p>
    </div>    
</div>        


