
<div class="row">
    <div class="col-lg-6">
        <h3>¿What is TROLLEYES?</h3>
        <ul>
            <li>TROLLEYES is an educative application that was created for students to learn how to develop web applications.</li>            
            <li>It was designed for Spanish Ciclos Formativos de Grado Superior students, more specifically, the Web Application Development students.</li>
            <li>The structure of TROLLEYES was thought to be </li>
            <li>
                <ul>
                    <li>maintanable</li>
                    <li>easy to undestand</li>
                    <li>easy to expand in a workgroup</li>
                </ul>
            </li>
        </ul>
        <h3>Who is driving this project?</h3>
        <ul>            
            <li>The author of the application is Rafael Aznar (rafaaznar {at} gmail {dot} com). Professor of the Higher Level Formative Cycle called Web Application Development.</li>
        </ul>
    </div>
    <div class="col-lg-6">
        <h3>Objectives</h3>        
        <ul>
            <li>Learn how to structure the design of a web project in the client environment</li>
            <li>Provide the student with the experience of working on a structured project</li>
            <li>Provide an environment for students to develop in a team</li>            
            <li>Simulate the creation of a complex project in a working environment</li>
            <li>Participate in the creation of a complex AJAX web application</li>
        </ul>        
    </div>
</div>


